.main {
  position: relative;

  display: grid;

  grid-template-columns: 1fr;

  opacity: 0;

  &.transition {
    transition: {
      duration: 0.25s;
      property: opacity;
    }
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  &.loaded {
    opacity: 1;
  }
}

.loading {
  position: fixed;

  top: var(--size-unit-6);
  left: var(--size-unit-6);

  font-size: var(--font-size-large);

  z-index: 5;
}

.play {
  background-color: var(--color-green);

  min-width: 0;

  .content {
    position: relative;

    top: 0;

    height: vh(80);
    min-height: 600px;

    @include tablet {
      position: sticky;

      height: vh(100);
      padding: var(--size-unit-8);
    }
  }
}

.cards {
  position: relative;

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: var(--size-unit-4);

  background-color: var(--color-beige);

  padding: var(--size-unit-8);

  min-width: 0;

  @include tablet {
    padding: var(--size-unit-8) 80px var(--size-unit-8) var(--size-unit-8);
  }
}

.prompt {
  position: absolute;

  right: 0;
  bottom: 100%;

  display: flex;
  flex-direction: column;

  padding: 10px;

  font-size: var(--size-unit-4);

  transition: {
    duration: 0.25s;
    property: opacity;
  }

  &.hide {
    opacity: 0;
  }

  svg {
    width: 4ch;

    transform: rotate(-90deg);
  }

  @include tablet {
    position: fixed;

    bottom: 0;
    font-size: 1.5vw;
  }
}
